.container
{
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: $font-sec,Arial, Helvetica, sans-serif;
    width: 100vw;
    &__heading{
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        background-color: darken($clr-bkg,5%);
        padding: 15px;
        &__text i{
            margin-right: 15px;
        }
    }
    &__block{
        width: 100%;
        background-color: $clr-bkg;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 60px 20px 60px 20px;
        & h2{
            @include subtitle-style;
        }
        & p{
            font-size: 1em;
        }
        &__btn{          
            @include btn-prim;
            padding: 20px;
            
        }
    }
}
.fonctionnement__container{
    font-family: $font-sec,Arial, Helvetica, sans-serif;
    padding: 60px 20px 60px 20px;
    background-color: white;
    h2{
        @include subtitle-style
    }
    ol{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    li{
        font-size: 1em;
        font-weight: bold;
        padding: 30px;
        margin: 15px;
        border-radius: 30px;
        background-color: $clr-bkg;
        width: auto;
        counter-increment: li;
        box-shadow: 4px 4px 10px darken($clr-bkg,20%);
        &::before {
            content: counter(li);
            color: white;
            display: inline-block;
            background-color: $clr-prim;
            width: 18px;
            margin-left: -40px;
            padding: 3px;
            text-align: center;
            border-radius: 25px;
            font-weight: normal;
        }
        i{
            margin-right: 30px;
            margin-left: 30px;
            color: darken($clr-bkg, 50%);
        }
        &:hover{
            background-color: lighten($clr-prim,35%);
            > i{
                color: $clr-prim;
            }
            
        }
    }
}
.restaurants__container{
    font-family: $font-sec,Arial, Helvetica, sans-serif;
    padding: 60px 20px 60px 20px;
    background-color: $clr-bkg;
    display: flex;
    flex-direction: column;
    h2{
        @include subtitle-style;
        margin-bottom : 30px;
    }
    &__block{
        background-color: white;
        border-radius: 25px;
        font-size: 1em;
        width: 100%;
        height: 350px;
        overflow: hidden;
        position: relative;
        margin-bottom: 25px;
        box-shadow: 4px 4px 10px darken($clr-bkg,20%);
        &__new{
            position: absolute;
            top: 15px;
            right: 15px;
            color: darken($clr-ter,40%);
            padding: 5px 10px 5px 10px;
            background-color: $clr-ter;
            font-weight: bold;
        }
        &__like{
            position: absolute;
            bottom: 35px;
            right: 50px;
            font-size: 30px;
            cursor: pointer;
        }
        &__nom{
            font-weight: bolder;
            padding: 15px 0 5px 15px;
            font-size: 1.1em;
            
        }
        &__lieu{
            padding: 0 0 15px 15px;
        }
        a{
            text-decoration: none;
            color: black;
            &:hover{
                color: $clr-prim;
            }
        }
        img{
            width: 100%;
            height: 260px;
            object-fit: cover;
        }

    }
}