.img__restaurant img{
    width: 100vw;
    height: 300px;
    object-fit: cover;
}
h1{
    width: 100vw;
    font-family: $font-prim;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    span{
        padding: 20px;
    }
    .like{
        cursor: pointer;
        position: absolute;
        right: 2%;
        top: 20px;
        &--plein{
            @include like-plein;
            position: relative;
            bottom : 45px;
        }
        &:hover{
            .like--plein{
                animation: $anim-like;
            }
            .like--vide{
                animation: $anim-like reverse;
            }
        }
    }

}
.plats{
    font-family: $font-sec;
    width: 100vw;
    h3{
        @include menu-subtitle-style;
    }
    .bordure{
        position: relative;
        left: 20px;
        bottom: 15px;
        width: 50px;
        height: 3px;
        background-color: $clr-ter;
    }
    
    &__choix{
        background-color: white;
        overflow: hidden;
        border-radius: 20px;
        width: auto;
        margin: 10px;
        padding: 15px;
        box-shadow: 4px 4px 10px darken($clr-bkg,20%);
        position: relative;
        animation:  affichage-menu 800ms both ease-out;
        @for $i from 1 through $nb-max-plat {
            &__#{$i} {
                animation-delay: 100ms * $i;
            }
        }
        &__nom{
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: 10px;
        }
        &__info{
            text-overflow: ellipsis;
        }
        &__prix{
            padding: 15px;
            position: absolute;
            right: 0px;
            bottom: 0px;
            font-weight: bold;
        }
        &__validation {
            position: absolute;
            right: 0;
            bottom:0;
            transform-origin: right;
            height: 100%;
            width: 70px;
            background-color: $clr-ter;
            transform: translateX(80px);          
            i{
                font-size: 30px;
                padding: 25px 20px 25px 20px;
                color: white;
                text-align: center;
            }

        }
        &:hover > &__validation{
            animation: plat-validation-bkg 800ms both ease-in-out;
            
        }
        &:hover > &__prix{
            animation: plat-validation-prix 800ms both ease-in-out;
        }
        &:hover i{
            animation: plat-validation-icone 800ms both ease-in-out;
        }
    }
}
.menu{
    width: 100%;
    background-color: $clr-bkg;
    border-radius: 50px 50px 0 0;
    position: relative;
    top: -50px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn_commander{
        font-family: $font-sec,Arial, Helvetica, sans-serif;
        margin: 30px;
        padding: 20px 50px 20px 50px;   
        @include btn-prim;
    }
}
